html {
	font-size: 10px;
	overflow-x: hidden;

	@media screen and (max-width: $break-large) {
		font-size: 9px;
	}

	@media screen and (max-width: $break-medium) {
		font-size: 8px;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: $bs-body-bg;
	color: $bs-body-color;

	@media screen and (max-width: $break-tablet) {
		overflow-x: hidden;
	}
}

:global {
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		line-height: 1.1;
		font-weight: 700;
	}

	.h3,
	h3 {
		font-size: 1.8rem;
	}

	.h4,
	h4 {
		font-size: 2.4rem;
	}

	.h5,
	h5 {
		font-size: 1.5rem;
	}

	.container {
		padding: 20px;
	}
}
