html {
	font-size: 10px;
	overflow-x: hidden;

	@media screen and (max-width: $break-large) {
		font-size: 9px;
	}

	@media screen and (max-width: $break-medium) {
		font-size: 8px;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: $bs-body-bg;

	@media screen and (max-width: $break-tablet) {
		overflow-x: hidden;
	}
}

:global {
	.container {
		padding: 20px;
	}
}
