$break-header: 1400px;
$break-large: 1220px;
$break-medium: 1024px;
$break-tablet: 768px;
$break-small: 425px;
$break-mini: 375px;

$bs-blue: #2c8ef8;
$bs-indigo: #727cf5;
$bs-purple: #6b5eae;
$bs-pink: #ff679b;
$bs-red: #fa5c7c;
$bs-orange: #fd7e14;
$bs-yellow: #ffbc00;
$bs-green: #0acf97;
$bs-teal: #02a8b5;
$bs-cyan: #39afd1;
$bs-white: #fff;
$bs-gray: #8391a2;
$bs-gray-dark: #e3eaef;
$bs-gray-100: #404954;
$bs-gray-200: #37404a;
$bs-gray-300: #464f5b;
$bs-gray-400: #8391a2;
$bs-gray-500: #aab8c5;
$bs-gray-600: #ced4da;
$bs-gray-700: #dee2e6;
$bs-gray-800: #e3eaef;
$bs-gray-900: #f1f1f1;
$bs-primary: #727cf5;
$bs-secondary: #ced4da;
$bs-success: #0acf97;
$bs-info: #39afd1;
$bs-warning: #ffbc00;
$bs-danger: #fa5c7c;
$bs-light: #464f5b;
$bs-dark: #f1f1f1;
$bs-primary-rgb: 114, 124, 245;
$bs-secondary-rgb: 206, 212, 218;
$bs-success-rgb: 10, 207, 151;
$bs-info-rgb: 57, 175, 209;
$bs-warning-rgb: 255, 188, 0;
$bs-danger-rgb: 250, 92, 124;
$bs-light-rgb: 70, 79, 91;
$bs-dark-rgb: 241, 241, 241;
$bs-white-rgb: 255, 255, 255;
$bs-black-rgb: 0, 0, 0;
$bs-body-color-rgb: 170, 184, 197;
$bs-body-bg-rgb: 52, 58, 64;
$bs-gradient: linear-gradient(
	180deg,
	rgba(255, 255, 255, 0.15),
	rgba(255, 255, 255, 0)
);
$bs-body-font-size: 0.9rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;
$bs-body-color: #aab8c5;
