.Distribution {
	--width: 30%;
	width: var(--width);
	min-width: var(--width);
	height: 50vh;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h5 {
		color: $bs-gray-400;
		font-weight: 400;
	}

	> div {
		height: 100%;
		padding: 1.5rem;
		background-color: $bs-gray-200;
	}
}
