.Evolution {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.35rem;

	span {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	h5 {
		font-size: 1.35rem;
	}
}

.up {
	color: $bs-success-rgb;
}

.down {
	color: $bs-danger-rgb;
}
