.header {
	background-color: $bs-body-bg-light;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

h1 {
	color: #fff;
}

.personna {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: $bs-gray-600;

	img {
		--size: 4rem;

		width: var(--size);
		height: var(--size);
		border-radius: var(--size);
		object-fit: cover;
	}

	div {
		> h2 {
			font-size: 1.5rem;
			font-weight: 600;
		}

		> span {
			display: inline-block;
			margin-top: -0.3rem;
			font-size: 1.3rem;
		}
	}
}
