.Card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1.5rem;
	background-color: $bs-gray-200;

	h5 {
		color: $bs-gray-400;
		font-weight: 400;
	}

	> div:first-child {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
